---
import ResumeLayout from "../layouts/ResumeLayout.astro";
import ResumeHeader from "../components/ResumeHeader.astro";
import ResumeSummary from "../components/ResumeSummary.astro";
import ResumeSkills from "../components/ResumeSkills.astro";
import ResumeProjects from "../components/ResumeProjects.astro";
import ResumeWorkHistory from "../components/ResumeWorkHistory.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Your Resume</title>
  </head>
  <body>
    <ResumeLayout>
      <main>
        <ResumeHeader />
        <ResumeSummary />
        <ResumeSkills />
        <ResumeProjects />
        <ResumeWorkHistory />
      </main>
    </ResumeLayout>
  </body>
</html>
