---
import { getCollection, getEntry } from "astro:content";
const [resumeSummary] = await getCollection("summary");
const { firstName, lastName, emailAddress, siteLink } = resumeSummary.data;
---

<header class="text-center flex flex-col gap-2">
  <h1 class="text-4xl font-bold">{firstName} {lastName}</h1>
  <p>{siteLink}</p>
  <p>{emailAddress}</p>
</header>
