---
import { getCollection } from "astro:content";
const [resumeSummary] = await getCollection("summary");
const { Content } = await resumeSummary.render();
---

<section>
  <div class="my-4 text-lg">
    <Content />
  </div>
</section>
